<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient</title>
    <link href="/static/css/ingredients.css" th:href="@{/css/ingredients.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div th:insert="/header :: header"></div>
<table id="Ingredient">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Calories</td>
    </tr>
    <tr th:each="ingredient: ${ingredientList}">
        <td th:text="${ingredient.id}">Id</td>
        <td th:text="${ingredient.title}">Title</td>
        <td th:text="${ingredient.calories}">Calories</td>
        <td>
            <a th:href="@{/ingredients/{id}(id=${ingredient.id})}">
                <button value="Update">Update</button>
            </a>
            <form th:action="@{/ingredients/{id}(id=${ingredient.id})}" th:method="DELETE">
                <button value="delete" name="removeRow">Delete</button>
            </form>
        </td>
    </tr>
</table>
<button><a th:href="@{/ingredients}">Create Ingredient</a></button>

</body>
</html>
