<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My spring boot application</title>
    <link href="print_all.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Create user</h1>
<!--div-->
<!--    <h3>user name: </h3> &lt;!&ndash;/*@thymesVar id="jamesBond" type="com.example.restaurant.entity.User"*/&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  &ndash;&gt;  <span th:text="${jamesBond.name}">Fake agent</span>&ndash;&gt;-->
<!--  th:each="user: ${usersList}"   <span>{{ jamesBond.name }}</span>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--/*@thymesVar id="usersList" type="java.util.List<com.example.restaurant.entity.User>"*/-->

 <nav>
     <tr>
         <td><a th:href="@{/create}">Create</a></td>
         <td><a th:href="@{/print_all}">Print All</a></td>
         <td><a th:href="@{/delete_all}">Delete All</a></td>
     </tr>
 </nav>
<div>
  <tr>
      <td th:text="${jamesBond.id}" />
      <td th:text="${jamesBond.name}" />
  </tr>
</div>

</body>
</html>
