<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ingredient</title>
</head>
<body>
<form action="/createIngredient" method="POST">
    <fieldset>
        <legend>Create new Ingredient</legend>
        <p>Title<br>
            <input  type="text" name="title" size="15" maxlength="20" required></p>

        <p>Calories<br>
            <input type="text" name="calories" size="15" required></p>

        <br>
        <input type="submit" value="Create">
    </fieldset>

</form>
</body>
</html>
