<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete all</title>
    <link href="../static/print_all.css" rel="stylesheet" type="text/css">
</head>
<body>
   <!--/*@thymesVar id="userService" type="com.example.restaurant.controller.UserController"*/-->
   <nav>
       <tr>
           <td><a th:href="@{/create}">Create</a></td>
           <td><a th:href="@{/print_all}">Print All</a></td>
           <td><a th:href="@{/delete_all}">Delete All</a></td>
       </tr>
   </nav>
   <h1 th:text="${deletedUsers}"></h1>
</body>
</html>
