<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
    <a class="cta" th:href="@{/main}">Main Page</a>
    <nav>
        <ul class="nav__links">
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/print_all}">Users</a></li>
            <li sec:authorize="isAuthenticated()" ><a th:href="@{/dishes}">Dishes</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/dishTypes}">Dish Types</a></li>
            <li sec:authorize="hasAnyRole('ROLE_COOK', 'ROLE_ADMIN')" ><a th:href="@{/ingredients}">Ingredients</a></li>
            <li sec:authorize="hasAnyRole('ROLE_COOK', 'ROLE_ADMIN')" ><a th:href="@{/orders}">Orders</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/bills}">Bills</a></li>

        </ul>
    </nav>

    <h4 sec:authorize="isAuthenticated()">
        <span class="text-info">Signed in as</span>
        <span class="login text-light" sec:authentication="name" id="login">SomeLogin</span>
    </h4>

    <a class="cta" sec:authorize="isAnonymous()" th:href="@{/signIn}">Sign In</a>
    <a class="cta" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>


    <form th:action="@{/basket}" th:method="GET">
        <button type="button" class="btn btn-default btn-lg" value="Basket">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><a th:href="@{/basket}"> Basket</a>
        </button>
    </form>
    <p class="menu cta">Menu</p>
</header>
<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Dishes</a>
        <a href="#">Dish Types</a>
        <a href="#">Ingredients</a>
    </div>
</div>

</body>
</html>
