<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
    <a class="cta" th:href="@{/main}">Main Page</a>
    <nav>
        <ul class="nav__links">
            <li><a th:href="@{/print_all}">Users</a></li>
            <li><a th:href="@{/dishes}">Dishes</a></li>
            <li><a th:href="@{/dishTypes}">Dish Types</a></li>
            <li><a th:href="@{/ingredients}">Ingredients</a></li>
            <li><a th:href="@{/orders}">Orders</a></li>
            <li><a th:href="@{/bills}">Bills</a></li>

        </ul>
    </nav>

    <a class="cta" th:href="@{/signIn}">Sign In</a>

    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shopping cart
    </button>

    <p class="menu cta">Menu</p>
</header>
<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Dishes</a>
        <a href="#">Dish Types</a>
        <a href="#">Ingredients</a>
    </div>
</div>

</body>
</html>
