<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Print all</title>
    <!--<link href="../static/css/main.css" th:href="@{../static/css/main.css}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div th:insert="/header :: header"></div>
   <table>
       <!--/*@thymesVar id="usersList" type="java.util.List<com.example.restaurant.entity.User>"*/-->
       <nav>
           <tr>
               <td>ID</td>
               <td>Name</td>
               <td><a th:href="@{/delete_all}">Delete All</a></td>
           </tr>
       </nav>
       <tr th:each="user: ${usersList}">
           <td th:text="${user.id}" />
           <td th:text="${user.name}" />
       </tr>
   </table>
</body>
</html>
