<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update ingridient</title>
</head>
<body>
<form action="/updateIngridient" method="POST">
    <fieldset>
        <legend>Update ingridient</legend>
        <p>Set new title<br>
            <input  type="text" name="title" size="15" maxlength="20" required></p>

        <p>Set new calories<br>
            <input type="text" name="calories" size="15" required></p>

        <br>
        <input type="submit" value="Update">
    </fieldset>

</form>
</body>
</html>
